node_modules
.venv
.env
.env.secrets
.env.dev
.env.prod
.env.dev.secrets
/data/
ssl/
*.log
.DS_Store
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
.venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
*.swp
*.swo
*~
*.pem
backend/yudaiv3.2025-08-02.private-key.pem
backend/yudai-dev.2025-09-04.private-key.pem
backend/yudai-dev.2025-09-04.private-key.pem
